<!DOCTYPE html>
<html>
  <head>
<meta charset="UTF-8">
  <title>Travel App</title>
    <link href="https://fonts.googleapis.com/css?family=Oswald:400,600,700|Ranga:400,700&display=swap" rel="stylesheet">
  </head>
 <body>
  <div id = "app">
    <div class ="headline">
      <h1>Travel App</h1>
    </div>
    <img id='map_1'>
    <img id='map_2'>
  <div class ="where">
    <label for="city">Where are you Traveling?</label>
    <input type="text" id="city" placeholder="Enter Destination Here">
  </div>
  <div class ="when">
    <label for="date">When Are You Traveling?</label>
      <textarea class= "myInput" id="date_start" placeholder="Enter Travel Start Date Here" ></textarea>
      <textarea class= "myInput" id="date_end" placeholder="Enter Travel End Date Here" ></textarea>
      <button id="generate" type = "submit"> Submit </button>
  </div>
  <div class ="entry">
    <div class = "title">Destination Information</div>
   <div id = "entryHolder">
    <div id = "date"></div> 
   <div id = "temp"></div>
   <div id = "content"></div>
  </div>
  </div>
  </div>
<script src="app.js" type="text/javascript"></script>

</body>
</html>
