
#app{
	display: grid;
    grid-template-columns: 20% auto 20%;
    grid-template-rows: 20% 20% 20% 40%;
	grid-gap: 20px;
	width: auto;
	height: 100vh;
	background-color: #FDFDFD;
    justify-items: center;
    float: bottom;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.headline {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
    color: rgb(3, 91, 121);
    font-size: 250%;
}

.where{
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 2;
    justify-items: center;
}

.where{
    display: inline-flex;
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 2;
    background-color: rgb(13, 76, 158);
    color: white;
    justify-items: center;
    justify-content: space-around;
    flex-direction: column;
    width: 90%;
    border-radius: 10px;
    text-align: center;
    align-items: center;
    font-size: 40px;
}

.when {
    display: inline-flex;
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 3;
    background-color: rgb(13, 76, 158);
    color: white;
    justify-items: center;
    justify-content: space-around;
    flex-direction: column;
    width: 90%;
    border-radius: 10px;
    text-align: center;
    align-items: center;
    font-size: 40px;
}

.entry {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 4;
    font-size: 20px;
    color: rgb(3, 91, 121);
}

#generate {
    width: 30%;
    border-radius: 10px;
    background-color: rgb(250, 244, 244);
    color: rgb(3, 91, 121);
}

#date {
    width: 30%;
    height: 40px;
    border-radius: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#city {
    width: 30%;
    height: 40px;
    border-radius: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#map_1 {
    border-radius: 40px;
    height: 100%;
    width: 120%;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 4;
}
#map_2 {
    border-radius: 40px;
    height: 100%;
    width: 120%;
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 4;

}

#image {
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 4;
}

#pix {
    height: 150%;
    width: 120%;
    border-radius: 10px;
}
